{% extends "layouts/base.html" %}
{% load i18n static %}

{% block title %} Tables {% endblock title %}

{% block content %}

    <div class="container-fluid py-4">
      <!-- #region Map Designation -->
      <div class="row">
        <div class="col-12">
          <div class="card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2" >
              <div class="shadow-primary border-radius-lg pt-4 pb-3" style="background-color: rgb(27, 107, 16);">
                <h6 class="text-white text-capitalize ps-3">Waste Bin Designation Map</h6>
              </div>
            </div>
            <!-- Insert Map Inside this Div-->
            <div class="card-body px-4 pb-2">
              <!-- Plot the areas on the img -->
              <!-- <map name="map_zones">
                <area
                    href="https://facebook.com"
                    alt="Zone 1 area"
                    target="_blank"
                    shape="poly"
                    coords="2.1%,42%, 48%,42%, 48%,87.1%, 2.1%,87.1%"
                >
              </map> -->
              <img 
                  src="{% static '/img/map.png' %}"
                  alt="Zone 1"
                  width="100%"
                  height="450"
                  usemap="#map_zones"
              >
              <a href="#" alt="Zone 1"><div style="position: absolute; left: 5%; top: 50%; width: 43%; height: 37%; background-color: rgba(0, 0, 0, .25);"></div></a>
              <a href="#" alt="Zone 2a"><div style="position: absolute; left: 33%; top: 27%; width: 23%; height: 18%; background-color: rgba(0, 0, 0, .25);"></div></a>
              <a href="#" alt="Zone 2b"><div style="position: absolute; left: 49%; top: 50%; width: 6%; height: 37%; background-color: rgba(0, 0, 0, .25);"></div></a>
              <a href="#" alt="Zone 2c"><div style="position: absolute; left: 56%; top: 46%; width: 12%; height: 19%; background-color: rgba(0, 0, 0, .25);"></div></a>
              <a href="#" alt="Zone 3a"><div style="position: absolute; left: 66%; top: 67%; width: 25%; height: 20%; background-color: rgba(0, 0, 0, .25);"></div></a>
              <a href="#" alt="Zone 3b"><div style="position: absolute; left: 75%; top: 43%; width: 22%; height: 21%; background-color: rgba(0, 0, 0, .25);"></div></a>
            </div>
          </div>
        </div>
      </div>
      <!-- --#endregion-- -->
      <!-- #region Table Summary for Bin Locator-->
      <div class="row">
        <div class="col-12">
          <div class="card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
              <div class="shadow-primary border-radius-lg pt-4 pb-3" style="background-color: rgb(27, 107, 16);">
                <h6 class="text-white text-capitalize ps-3">Table Summary for Bin Locator</h6>
              </div>
            </div>
            <div class="card-body px-0 pb-2">
              <div class="table-responsive p-0">
                <table class="table align-items-center mb-0">
                  <thead>
                    <tr>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Bin</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Location</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Status</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Zone</th>
                      <th class="text-secondary opacity-7"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <div class="d-flex px-2 py-1">
                          <div>
                            <img src="{% static 'img/team-2.jpg' %}" class="avatar avatar-sm me-3 border-radius-lg" alt="user1">
                          </div>
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm">Smart Bin 1 </h6>
                          </div>
                        </div>
                      </td>
                      <td>
                        <p class="text-xs font-weight-bold mb-0">Gokongwei Hall</p>
                      </td>
                      <td class="align-middle text-center text-sm">
                        <span class="badge badge-sm bg-gradient-success">Online</span>
                      </td>
                      <td class="align-middle text-center">
                        <span class="text-secondary text-xs font-weight-bold">Zone 3</span>
                      </td>
                      <td class="align-middle">
                        <a href="javascript:;" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                          Edit
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="d-flex px-2 py-1">
                          <div>
                            <img src="{% static 'img/team-3.jpg' %}" class="avatar avatar-sm me-3 border-radius-lg" alt="user2">
                          </div>
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm">Smart Bin 2</h6>
                          </div>
                        </div>
                      </td>
                      <td>
                        <p class="text-xs font-weight-bold mb-0">Henry Sy Sr. Hall</p>
                      </td>
                      <td class="align-middle text-center text-sm">
                        <span class="badge badge-sm bg-gradient-secondary">Offline</span>
                      </td>
                      <td class="align-middle text-center">
                        <span class="text-secondary text-xs font-weight-bold">Zone 1</span>
                      </td>
                      <td class="align-middle">
                        <a href="javascript:;" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                          Edit
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="d-flex px-2 py-1">
                          <div>
                            <img src="{% static 'img/team-4.jpg' %}" class="avatar avatar-sm me-3 border-radius-lg" alt="user3">
                          </div>
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm">Smart Bin 3</h6>
                          </div>
                        </div>
                      </td>
                      <td>
                        <p class="text-xs font-weight-bold mb-0">St. Joseph Hall</p>
                      </td>
                      <td class="align-middle text-center text-sm">
                        <span class="badge badge-sm bg-gradient-success">Online</span>
                      </td>
                      <td class="align-middle text-center">
                        <span class="text-secondary text-xs font-weight-bold">Zone 2</span>
                      </td>
                      <td class="align-middle">
                        <a href="javascript:;" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                          Edit
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="d-flex px-2 py-1">
                          <div>
                            <img src="{% static 'img/team-3.jpg' %}" class="avatar avatar-sm me-3 border-radius-lg" alt="user4">
                          </div>
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm">Smart Bin 4</h6>
                          </div>
                        </div>
                      </td>
                      <td>
                        <p class="text-xs font-weight-bold mb-0">Velasco Hall</p>
                      </td>
                      <td class="align-middle text-center text-sm">
                        <span class="badge badge-sm bg-gradient-success">Online</span>
                      </td>
                      <td class="align-middle text-center">
                        <span class="text-secondary text-xs font-weight-bold">Zone 2</span>
                      </td>
                      <td class="align-middle">
                        <a href="javascript:;" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                          Edit
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- --#endregion -->
      {% include 'includes/footer.html' %}
    </div>
  </main>

{% endblock content %}
 