{% extends "layouts/base.html" %}
{% load i18n static %}

{% block title %} Tables {% endblock title %}

{% block content %}

    <div class="container-fluid py-4">
      <div class="row">
        <div class="col-lg-4 mt-4 mb-5">
          <div class="card z-index-2 ">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
              <div class="graph1-bg shadow-dark border-radius-lg py-3 pe-1">
                <div class="chart">
                  <canvas id="WeightpieChart" class="chart-canvas" height="200"></canvas>
                </div>
              </div>
            </div>
            <div class="card-body">
              <h6 class="mb-0">All-time Weight-Based Waste Accumulation</h6>
              <hr class="dark horizontal">
              <p class="text-sm mt-2">This graph shows the overall waste accumulation for each bin.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-8 mt-4 mb-5">
          <div class="card z-index-2 ">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
              <div class="graph1-bg shadow-dark border-radius-lg py-3 pe-1">
                <div class="chart">
                  <canvas id="chart-weight-range" class="chart-canvas" height="200"></canvas>
                </div>
              </div>
            </div>
            <div class="card-body">
              <h6 class="mb-2">Total Weight-Based Waste Accumulation History</h6>
              <p class="text-sm ">This graph shows the total waste accumulation (in kg) each day for the chosen date range.</p>
              <div class="d-flex ">
                <input type="text" name="daterange" value="01/01/2018 - 01/15/2018"/> 
                <i class="material-icons opacity-10 me-1" style="font-size: 25px;">date_range</i>
              </div>
              <p class="text-sm mt-2">Choose a date range to show the graph.</p>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="mt-4 mb-4">
              <div class="card z-index-2">
                  <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent" style="background-color: black;">
                      <div class="shadow-dark border-radius-lg py-3 pe-1 graph1-bg">
                          <div class="chart">
                              <canvas id="chart-fill-level-perday" class="chart-canvas" height="300"></canvas>
                          </div>
                      </div>
                  </div>
                  <div class="card-body d-flex flex-column align-items-start">
                    <div class="col">
                        <div class="d-flex">
                          <button class="btn btn-secondary btn-sm mb-2" id="filterBtn" style="background-color: rgb(216, 216, 216); color: #344767;">
                              <i class="material-icons opacity-10 me-1" style="font-size: 30px;">tune</i>
                          </button>
                          
                          <div id="binFilters" class="d-none ms-3" style="background-color: rgb(240, 238, 238); padding-top: 11px; padding-right: 11px; border-radius: 30px;">
                              <div class="form-check form-check-inline">
                                  <input class="form-check-input bin-checkbox" type="checkbox" id="bin1" name="bin1" checked data-bin-id="1">
                                  <label class="form-check-label" for="bin1">Bin 1</label>
                              </div>
                              <div class="form-check form-check-inline">
                                  <input class="form-check-input bin-checkbox" type="checkbox" id="bin2" name="bin2" checked data-bin-id="2">
                                  <label class="form-check-label" for="bin2">Bin 2</label>
                              </div>
                              <div class="form-check form-check-inline">
                                  <input class="form-check-input bin-checkbox" type="checkbox" id="bin3" name="bin3" checked data-bin-id="3">
                                  <label class="form-check-label" for="bin3">Bin 3</label>
                              </div>
                              <div class="form-check form-check-inline">
                                  <input class="form-check-input bin-checkbox" type="checkbox" id="bin4" name="bin4" checked data-bin-id="4">
                                  <label class="form-check-label" for="bin4">Bin 4</label>
                              </div>
                          </div>
                      </div>
                      <h6 class="mb-0" style="padding-top: 10px;">Bin Capacity and Fill-up Trend History</h6>
                      <p class="text-sm">Tracked data over time</p>
                    </div>
                      <div class="d-flex" style="padding-bottom: 10px;">
                        <input type="text" name="fill-level-date" value="10/24/1984" />
                        <i class="material-icons opacity-10 me-1" style="font-size: 25px;">event</i>
                      </div>
                      <p class="text-sm mt-0 mb-0">Pick a date to show the graph .</p>
                  </div>
              </div>
            </div>
        </div>
      </div>
      {% include 'includes/footer.html' %}
    </div>
  </main>

{% endblock content %}

{% block scripts %}
  <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
  <script>
    let Bin1Total, Bin2Total, Bin3Total, Bin4Total;
      // Toggle binFilters visibility
      document.getElementById('filterBtn').addEventListener('click', function() {
          var binFilters = document.getElementById('binFilters');
          binFilters.classList.toggle('d-none');
      });
    // Function to fetch data from the API
    function fetchData() {
      fetch('/api/getWeightData') 
          .then(response => response.json())
          .then(data => {
              // Handle the data here, e.g., display it in the 'binData' div
              console.log(data);
              // Extract and store weight data for each bin
              const bin1Data = data['Bin1'];
              const bin2Data = data['Bin2'];
              const bin3Data = data['Bin3'];
              const bin4Data = data['Bin4'];

              // Now you can work with the weight data for each bin
              console.log('Bin 1 Weight Data:', bin1Data);
              console.log('Bin 2 Weight Data:', bin2Data);
              console.log('Bin 3 Weight Data:', bin3Data);
              console.log('Bin 4 Weight Data:', bin4Data);

              Bin1Total = getTotalWeight(bin1Data);
              Bin2Total = getTotalWeight(bin2Data);
              Bin3Total = getTotalWeight(bin3Data);
              Bin4Total = getTotalWeight(bin4Data);

              renderWeightPieChart(Bin1Total,Bin2Total,Bin3Total,Bin4Total);
              
          })
          .catch(error => {
              console.error('Error fetching data:', error);
          });
      }
      function getTotalWeight(bin_array)
      {
        var Total= 0;
        for(var i = 0; i < bin_array.length; i++)
        {
          if(bin_array[i] == 0)
          {
            if(i > 0)
            {
              Total += bin_array[i-1];
            }
          }
        }
        return Total;
      }

      function renderWeightPieChart(Bin1, Bin2, Bin3, Bin4) {
          // Get the canvas element to render the pie chart
          const ctx = document.getElementById('WeightpieChart').getContext('2d');

          // Data for the pie chart
          const data = {
            labels: ['Bin 1', 'Bin 2', 'Bin 3', 'Bin 4'],
            datasets: [
              {
                data: [Bin1, Bin2, Bin3, Bin4],
                backgroundColor: ['#2d425c', '#7c5389', '#da5c7a', '#ff8f3c'], // Colors for each segment
              },
            ],
          };

          // Configuration options for the pie chart
          const options = {
            responsive: true,
            maintainAspectRatio: false,
            plugins: {
              legend: {
                display: true,
                position: 'top',
              },
              tooltip: {
                callbacks: {
                  label: (context) => {
                    const label = context.label || '';
                    const value = context.parsed || 0;
                    const total = context.dataset.data.reduce((acc, data) => acc + data, 0);
                    const percentage = ((value / total) * 100).toFixed(2); // Calculate percentage

                    return `${label}: ${value.toFixed(2)}KG (${percentage}%)`;
                  },
                },
              },
            },
          };

          // Create the pie chart
          const pieChart = new Chart(ctx, {
            type: 'pie',
            data: data,
            options: options,
          });
        }
        var WeightChart;
        $(function() {
        // Calculate today's date
        var today = moment();

        // Calculate the start date as today minus 6 days
        var last7DaysStart = today.clone().subtract(6, 'days');

        // Format the start and end dates as "MM/DD/YYYY"
        var startDateFormatted = last7DaysStart.format('MM/DD/YYYY');
        var endDateFormatted = today.format('MM/DD/YYYY');

        // Set the initial date range
        var initialDateRange = startDateFormatted + ' - ' + endDateFormatted;

        // Initialize the date range picker with the initial value and maxDate option
        $('input[name="daterange"]').daterangepicker({
          opens: 'left',
          startDate: last7DaysStart, // Set the start date to last 7 days
          endDate: today,
          maxDate: today, // Set maxDate to today
          ranges: {
            'This Month': [moment().startOf('month').format('MM/DD/YYYY'), today.format('MM/DD/YYYY')],
            'Last 7 Days': [startDateFormatted, endDateFormatted],
            'Last 30 Days': [moment().subtract(29, 'days').format('MM/DD/YYYY'), endDateFormatted],
          }
        }, function(start, end, label) {
          console.log("A new date selection was made: " + start.format('MM/DD/YYYY') + ' to ' + end.format('MM/DD/YYYY'));

          // Calculate the number of days in the range
          var numDays = end.diff(start, 'days') + 1; // Add 1 to include both start and end days

          // Display the number of days
          console.log("Number of days in the range: " + numDays);

          fetchWeightTimeData(start, end, numDays);
        });

        // Set the input value to the initial date range
        $('input[name="daterange"]').val(initialDateRange);

        // Load weight time data with the initial date range
        fetchWeightTimeData(last7DaysStart, today, 7); // Assuming 7 days in the initial range
      });

      function fetchWeightTimeData(startDate, endDate, numDays) {
        const url = `/api/getWeightTimeData?startDate=${startDate.format('YYYY-MM-DD')}&endDate=${endDate.format('YYYY-MM-DD')}`;

        fetch(url)
          .then(response => response.json())
          .then(data => {
            // Initialize a dictionary to store daily total weights
            const end = endDate;
            const start = startDate;
            const length = numDays;
            console.log(data);
            console.log(end);

            const bin1Data = data['Bin1'];
            const bin2Data = data['Bin2'];
            const bin3Data = data['Bin3'];
            const bin4Data = data['Bin4'];

            bin1totals = getDailyWeight(bin1Data,start,end);
            bin2totals = getDailyWeight(bin2Data,start,end);
            bin3totals = getDailyWeight(bin3Data,start,end);
            bin4totals = getDailyWeight(bin1Data,start,end);
            // Create an object to store the total weights per day
            const totalWeightsPerDay = {};

            // Loop through the dates and accumulate total weights across all bins
            for (const date in bin1totals) {
              // Initialize the total weight for the date if it doesn't exist
              if (!totalWeightsPerDay[date]) {
                totalWeightsPerDay[date] = 0;
              }
              
              // Accumulate the total weight for the date from all bins
              totalWeightsPerDay[date] += bin1totals[date] + bin2totals[date] + bin3totals[date] + bin4totals[date];
            }
            console.log(totalWeightsPerDay);
            const dates = Object.keys(totalWeightsPerDay);
            const totalWeights = Object.values(totalWeightsPerDay);

        
            var ctx2 = document.getElementById("chart-weight-range").getContext("2d");
            if (WeightChart) {
              WeightChart.destroy(); // Destroy the existing chart if it exists
            }
            WeightChart = new Chart(ctx2, {
              type: "line",
              data: {
                labels: dates,
                datasets: [{
                  label: "Waste Accumulation",
                  tension: 0,
                  borderWidth: 0,
                  pointRadius: 5,
                  pointBackgroundColor: "rgba(0, 128, 0, 0.7)",
                  pointBorderColor: "transparent",
                  borderColor: "rgba(0, 128, 0, 0.7)",
                  borderWidth: 4,
                  backgroundColor: "rgba(0, 128, 0, 0.7)",
                  fill: true,
                  data: totalWeights,
                  maxBarThickness: 6

                }],
              },
              options: {
                responsive: true,
                maintainAspectRatio: false,
                plugins: {
                  legend: {
                    display: false,
                  }
                },
                interaction: {
                  intersect: false,
                  mode: 'index',
                },
                scales: {
                  y: {
                    min: 0,
                    grid: {
                      drawBorder: false,
                      display: true,
                      drawOnChartArea: true,
                      drawTicks: false,
                      borderDash: [5, 5],
                      color: 'black'
                    },
                    ticks: {
                      display: true,
                      padding: 10,
                      color: 'black',
                      font: {
                        size: 14,
                        weight: 300,
                        family: "Roboto",
                        style: 'normal',
                        lineHeight: 2
                      },
                    },
                    title: {
                      display: true,
                      text: 'Weight (KG)', // Your y-axis label
                      color: 'black',
                      font: {
                        size: 14,
                        weight: 300,
                        family: "Roboto",
                        style: 'normal',
                        lineHeight: 2
                      },
                      padding: {
                        top: 10 // Adjust the top padding to position the label as needed
                      }
                    }
                  },
                  x: {
                    grid: {
                      drawBorder: false,
                      display: false,
                      drawOnChartArea: false,
                      drawTicks: false,
                      borderDash: [5, 5]
                    },
                    ticks: {
                      display: true,
                      color: 'black',
                      padding: 10,
                      font: {
                        size: 13,
                        weight: 300,
                        family: "Roboto",
                        style: 'normal',
                        lineHeight: 2
                      },
                      // Rotate the x-axis labels diagonally
                      angle: -45, // Adjust the angle as needed
                    },
                    title: {
                      display: true,
                      text: 'Date', // Your x-axis label
                      color: 'black',
                      font: {
                        size: 13,
                        weight: 300,
                        family: "Roboto",
                        style: 'normal',
                        lineHeight: 2
                      },
                    }
                  },
                },
              },
            });

            
          })
          .catch(error => {
            console.error('Error fetching data:', error);
          });
      }

      function getDailyWeight(binData, startDate, endDate) {
      // Create an object to store daily weights with dates as keys
      const dailyWeights = {};

      // Create moment objects for startDate and endDate
      const start = moment(startDate);
      const end = moment(endDate);

      // Loop through each day in the date range
      while (start.isSameOrBefore(end, 'day')) {
        const currentDate = start.format('YYYY-MM-DD');

        // Initialize the daily weight to 0
        dailyWeights[currentDate] = 0;

        // Loop through the data entries and accumulate weights for the current date
        for (let i = 0; i < binData.timestamps.length; i++) {
          if (binData.timestamps[i] === currentDate) {
            if(binData.weights[i] == 0)
            {
              if(i > 0)
              {
                dailyWeights[currentDate] += binData.weights[i-1];
              }
            }
          }
        }

        // Move to the next day
        start.add(1, 'day');
      }

      return dailyWeights;
    }

    var FillLevelChart;
      // Add event listener to checkboxes
    var fill_level_checkboxes = document.querySelectorAll('.bin-checkbox');
      fill_level_checkboxes.forEach(function (checkbox) {
          checkbox.addEventListener('change', function () {
              var binId = this.getAttribute('data-bin-id');
              var datasetIndex = parseInt(binId) - 1; // Datasets are zero-based
              FillLevelChart.data.datasets[datasetIndex].hidden = !this.checked;
              FillLevelChart.update();
            });
          });

    // Single Date Picker
    $(function() {
      // Initialize the single date picker
      $('input[name="fill-level-date"]').daterangepicker({
        singleDatePicker: true,
        showDropdowns: true,
        minYear: 1901,
        maxYear: parseInt(moment().format('YYYY'), 10),
        startDate: moment(), // Set today's date as the default
        startView: 'months', // Specify the start view as 'months'
        format: 'MM/DD/YYYY', // Specify the desired date format
        maxDate: moment(), // Prevent selecting dates later than today
      }, function(start, end, label) {
        fetchFillLevelData(start);
      });

      // Load fill level chart with the initial date (current day)
      fetchFillLevelData(moment());
    });

    function fetchFillLevelData(Date) {
      const url = `/api/getFillLevelData?Date=${Date.format('YYYY-MM-DD')}`;

      fetch(url)
        .then(response => response.json())
        .then(data => {
          console.log(data)
          const bin1Data = data['Bin1'];
          const bin2Data = data['Bin2'];
          const bin3Data = data['Bin3'];
          const bin4Data = data['Bin4'];
          const parsedTimestamps = [];
          // Generate all possible timestamps from 00:00 to 23:59
          for (var hour = 0; hour < 24; hour++) {
              for (var minute = 0; minute < 60; minute += 30) {
                  var timestamp = ('0' + hour).slice(-2) + ':' + ('0' + minute).slice(-2);
                  parsedTimestamps.push(timestamp);
              }
          }
          fillLevelsBin1 = getFillLevelsPerBin(bin1Data, parsedTimestamps);
          fillLevelsBin2 = getFillLevelsPerBin(bin2Data, parsedTimestamps);
          fillLevelsBin3 = getFillLevelsPerBin(bin3Data, parsedTimestamps);
          fillLevelsBin4 = getFillLevelsPerBin(bin4Data, parsedTimestamps);
          var ctx3 = document.getElementById("chart-fill-level-perday").getContext("2d");
          if (FillLevelChart) {
              FillLevelChart.destroy(); // Destroy the existing chart if it exists
            }
          FillLevelChart = new Chart(ctx3, {
            type: "line",
            data: {
              labels: parsedTimestamps,
              datasets: [
                  {
                    label: "Bin 1",
                    tension: 0,
                    borderWidth: 0,
                    pointRadius: 5,
                    pointBackgroundColor: "#2d425c",
                    pointBorderColor: "transparent",
                    borderColor: "#2d425c",
                    borderWidth: 4,
                    backgroundColor: "transparent",
                    fill: true,
                    data: fillLevelsBin1,
                    maxBarThickness: 6
                  },
                  {
                    label: "Bin 2",
                    tension: 0,
                    borderWidth: 0,
                    pointRadius: 5,
                    pointBackgroundColor: "#7c5389",
                    pointBorderColor: "transparent",
                    borderColor: "#7c5389",
                    borderWidth: 4,
                    backgroundColor: "transparent",
                    fill: true,
                    data: fillLevelsBin2,
                    maxBarThickness: 6
                  },
                  {
                    label: "Bin 3",
                    tension: 0,
                    borderWidth: 0,
                    pointRadius: 5,
                    pointBackgroundColor: "#da5c7a",
                    pointBorderColor: "transparent",
                    borderColor: "#da5c7a",
                    borderWidth: 4,
                    backgroundColor: "transparent",
                    fill: true,
                    data: fillLevelsBin3,
                    maxBarThickness: 6
                  },
                  {
                    label: "Bin 4",
                    tension: 0,
                    borderWidth: 0,
                    pointRadius: 5,
                    pointBackgroundColor: "#ff8f3c",
                    pointBorderColor: "transparent",
                    borderColor: "#ff8f3c",
                    borderWidth: 4,
                    backgroundColor: "transparent",
                    fill: true,
                    data: fillLevelsBin4,
                    maxBarThickness: 6
                  },
              ],
            },
            options: {
              responsive: true,
              maintainAspectRatio: false,
              plugins: {
                legend: {
                  display: true,
                }
              },
              interaction: {
                intersect: false,
                mode: 'index',
              },
              scales: {
                y: {
                  min: 0,
                  suggestedMax: 100,
                  grid: {
                    drawBorder: false,
                    display: true,
                    drawOnChartArea: true,
                    drawTicks: false,
                    borderDash: [5, 5],
                    color: 'black'
                  },
                  ticks: {
                    display: true,
                    color: 'black',
                    padding: 10,
                    font: {
                      size: 14,
                      weight: 300,
                      family: "Roboto",
                      style: 'normal',
                      lineHeight: 2
                    },
                  },
                  title: {
                    display: true,
                    text: 'Fill-level (%)', // Your y-axis label
                    color: 'black',
                    font: {
                      size: 14,
                      weight: 300,
                      family: "Roboto",
                      style: 'normal',
                      lineHeight: 2
                    },
                    padding: {
                      top: 10 // Adjust the top padding to position the label as needed
                    }
                  }
                },
              x: {
                grid: {
                  drawBorder: false,
                  display: false,
                  drawOnChartArea: false,
                  drawTicks: false,
                  borderDash: [5, 5]
                },
                ticks: {
                  display: true,
                  color: 'black',
                  padding: 10,
                  font: {
                    size: 14,
                    weight: 300,
                    family: "Roboto",
                    style: 'normal',
                    lineHeight: 2
                  },
                },
                title: {
                  display: true,
                  text: 'Time', // Your x-axis label
                  color: 'black',
                  font: {
                    size: 14,
                    weight: 300,
                    family: "Roboto",
                    style: 'normal',
                    lineHeight: 2
                  },
                  padding: {
                    top:1 // Adjust the top padding to position the label as needed
                  }
                }
              },
              },
              animation: {
                duration: 1000, // Animation duration in milliseconds
                easing: 'easeInOutQuad', // Easing function (linear, easeInQuad, easeOutQuad, easeInOutQuad, etc.)
                },
            },
          });
        })
        .catch(error => {
          console.error('Error fetching data:', error);
        });
    }

    function getFillLevelsPerBin(binData, parsedTimestamps) {

        // Initialize fillLevelMaps
        var fillLevelMaps = {};

        const timestamps = binData.map(item => item.timestamp_time);
        const fillLevels = binData.map(item => item.fill_level);

        // Populate fill levels based on existing data for each bin
        for (var i = 0; i < timestamps.length; i++) {
            fillLevelMaps[timestamps[i]] = fillLevels[i];
        }
        console.log(fillLevelMaps);
        console.log(timestamps);
        console.log(fillLevels);
        var finalFillLevels = [];
        for (var i = 0; i < parsedTimestamps.length; i++) {
              var currentTimestamp = parsedTimestamps[i];
              var closestTimestamp = getClosestDataPoint(currentTimestamp, fillLevelMaps);
              finalFillLevels.push(fillLevelMaps[closestTimestamp] || 0);
        }
        console.log(finalFillLevels);
        return finalFillLevels;
    }

    // Function to get the closest data point within a 15-minute range for a specific bin
    function getClosestDataPoint(targetTimestamp, binFillLevelMap) {
        var targetTime = new Date('2000-01-01T' + targetTimestamp + ':00');
        var closestTimestamp = null;
        var minTimeDiff = Number.MAX_VALUE;

        for (var timestamp in binFillLevelMap) {
            var currTime = new Date('2000-01-01T' + timestamp + ':00');
            var timeDiff = Math.abs(currTime - targetTime) / 60000;

            if (timeDiff <= 15 && timeDiff < minTimeDiff) {
                minTimeDiff = timeDiff;
                closestTimestamp = timestamp;
            }
        }

        return closestTimestamp;
    }
      
    fetchData();

       
  </script>
{% endblock scripts %}
 